{
    "openapi": "3.0.0",
    "info": {
        "title": "Casenova API Documentation",
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://casenova.lc/api/v1",
            "description": "Api Server"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User authorization",
                "description": "Return User token",
                "operationId": "authUser",
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "{MODERATOR_URL}/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User logout",
                "operationId": "logoutUser",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "message": "Successfully logged out"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/blog": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Get list of blogs",
                "description": "Returns list of blogs",
                "operationId": "getBlogs",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/admin/blog": {
            "post": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Create new Blog",
                "description": "Returns Blog data",
                "operationId": "storeBlog",
                "requestBody": {
                    "description": "Pass blog credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreBlogRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/blog/{id}": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Get blog information",
                "description": "Returns blog data",
                "operationId": "getBlogById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BlogResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/admin/blog/{id}": {
            "put": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Update blog",
                "description": "Returns blog data",
                "operationId": "updateBlog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBlogRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/blog/{blog}/image": {
            "post": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Update image for blog",
                "description": "Returns blog status",
                "operationId": "imageBlog",
                "parameters": [
                    {
                        "name": "blog",
                        "in": "path",
                        "description": "Blog id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "image": {
                                        "$ref": "#/components/schemas/BaseProperties/properties/property_uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_boolean_result"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/equipment": {
            "get": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Get list of equipments",
                "description": "Returns list of equipments",
                "operationId": "getEquipments",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Create new equipment",
                "description": "Returns equipment data",
                "operationId": "storeEquipments",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEquipmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/equipment/{id}": {
            "get": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Get equipment information",
                "description": "Returns equipment data",
                "operationId": "getEquipmentById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Equipment id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EquipmentResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "put": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Update equipment",
                "description": "Returns equipment data",
                "operationId": "updateEquipment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Equipment id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateEquipmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/equipment/{equipment}/image": {
            "post": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Update image for equipment",
                "description": "Returns equipment status",
                "operationId": "imageEquipment",
                "parameters": [
                    {
                        "name": "equipment",
                        "in": "path",
                        "description": "Equipment id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "image": {
                                        "$ref": "#/components/schemas/BaseProperties/properties/property_uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_boolean_result"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/galleries": {
            "get": {
                "tags": [
                    "Galleries"
                ],
                "summary": "Get list of galleries",
                "description": "Returns list of galleries",
                "operationId": "getGalleries",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GalleryCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/admin/galleries": {
            "post": {
                "tags": [
                    "Galleries"
                ],
                "summary": "Create new gallery",
                "description": "Returns gallery data",
                "operationId": "storeGalleries",
                "requestBody": {
                    "description": "Pass gallery credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreGalleryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/galleries/{id}": {
            "get": {
                "tags": [
                    "Galleries"
                ],
                "summary": "Get gallery information",
                "description": "Returns gallery data",
                "operationId": "getGalleryById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Gallery id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/GalleryResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/admin/galleries/{id}": {
            "put": {
                "tags": [
                    "Galleries"
                ],
                "summary": "Update gallery",
                "description": "Returns gallery data",
                "operationId": "updateGalleries",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Gallery id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass gallery credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGalleryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/admin/galleries/{gallery}": {
            "delete": {
                "tags": [
                    "Galleries"
                ],
                "summary": "Delete gallery",
                "description": "Returns gallery status",
                "operationId": "deleteGallery",
                "parameters": [
                    {
                        "name": "gallery",
                        "in": "path",
                        "description": "Gallery id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/admin/galleries/{gallery}/image": {
            "post": {
                "tags": [
                    "Galleries"
                ],
                "summary": "Update image for gallery",
                "description": "Returns gallery status",
                "operationId": "imageGallery",
                "parameters": [
                    {
                        "name": "gallery",
                        "in": "path",
                        "description": "Gallery id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "image": {
                                        "$ref": "#/components/schemas/BaseProperties/properties/property_uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_boolean_result"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/services": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Get list of services",
                "description": "Returns list of services",
                "operationId": "getServices",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServiceCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Services"
                ],
                "summary": "Create new service",
                "description": "Returns service data",
                "operationId": "storeServices",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreServiceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/services/{id}": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Get service information",
                "description": "Returns service data",
                "operationId": "getServiceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ServiceResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "put": {
                "tags": [
                    "Services"
                ],
                "summary": "Update service",
                "description": "Returns service data",
                "operationId": "updateServices",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateServiceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/services/{service}/image": {
            "post": {
                "tags": [
                    "Services"
                ],
                "summary": "Update image for service",
                "description": "Returns service status",
                "operationId": "imageService",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "description": "Service id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "image": {
                                        "$ref": "#/components/schemas/BaseProperties/properties/property_uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_boolean_result"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/subservices": {
            "get": {
                "tags": [
                    "Subservices"
                ],
                "summary": "Get list of subservices",
                "description": "Returns list of subservices",
                "operationId": "getSubservices",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubserviceCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Subservices"
                ],
                "summary": "Create new subservice",
                "description": "Returns service data",
                "operationId": "storeSubservices",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreSubserviceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/subservices/{id}": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Get subservice information",
                "description": "Returns subservice data",
                "operationId": "getSubserviceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Subservice id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SubserviceResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "put": {
                "tags": [
                    "Subservices"
                ],
                "summary": "Update subservice",
                "description": "Returns subservice data",
                "operationId": "updateSubservice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Subservice id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateSubserviceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/subservices/{subservice}/image": {
            "post": {
                "tags": [
                    "Subservices"
                ],
                "summary": "Update image for subservice",
                "description": "Returns subservice status",
                "operationId": "imageSubservice",
                "parameters": [
                    {
                        "name": "subservice",
                        "in": "path",
                        "description": "Subservice id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "image": {
                                        "$ref": "#/components/schemas/BaseProperties/properties/property_uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_boolean_result"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/admin/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get list of users",
                "description": "Returns list of users",
                "operationId": "getUsers",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Create new User",
                "description": "Return User data",
                "operationId": "storeUser",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreUserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/admin/users/{id}": {
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Destroy User",
                "description": "Return bool",
                "operationId": "destroyUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "LoginUserRequest": {
                "title": "LoginUserRequest",
                "properties": {
                    "email": {
                        "$ref": "#/components/schemas/User/properties/email"
                    },
                    "password": {
                        "$ref": "#/components/schemas/User/properties/password"
                    }
                },
                "type": "object"
            },
            "StoreBlogRequest": {
                "title": "StoreBlogRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/StoreBlogTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/StoreBlogTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/StoreBlogTranslationRequest"
                    }
                },
                "type": "object"
            },
            "StoreBlogTranslationRequest": {
                "title": "StoreBlogTranslationRequest",
                "properties": {
                    "title": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/title"
                    },
                    "content": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/content"
                    }
                },
                "type": "object"
            },
            "StoreEquipmentRequest": {
                "title": "StoreEquipmentRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/StoreEquipmentTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/StoreEquipmentTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/StoreEquipmentTranslationRequest"
                    }
                },
                "type": "object"
            },
            "StoreEquipmentTranslationRequest": {
                "title": "StoreEquipmentTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/title"
                    }
                },
                "type": "object"
            },
            "StoreGalleryRequest": {
                "title": "StoreGalleryRequest",
                "properties": {
                    "image": {
                        "$ref": "#/components/schemas/Gallery/properties/image"
                    }
                },
                "type": "object"
            },
            "StoreServiceRequest": {
                "title": "StoreServiceRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/StoreServiceTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/StoreServiceTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/StoreServiceTranslationRequest"
                    }
                },
                "type": "object"
            },
            "StoreServiceTranslationRequest": {
                "title": "StoreServiceTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/title"
                    }
                },
                "type": "object"
            },
            "StoreSubserviceRequest": {
                "title": "StoreSubserviceRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/StoreSubserviceTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/StoreSubserviceTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/StoreSubserviceTranslationRequest"
                    }
                },
                "type": "object"
            },
            "StoreSubserviceTranslationRequest": {
                "title": "StoreSubserviceTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/name"
                    },
                    "content": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/content"
                    }
                },
                "type": "object"
            },
            "StoreUserRequest": {
                "title": "StoreServiceRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/User/properties/name"
                    },
                    "email": {
                        "$ref": "#/components/schemas/User/properties/email"
                    },
                    "password": {
                        "$ref": "#/components/schemas/User/properties/password"
                    }
                },
                "type": "object"
            },
            "UpdateBlogRequest": {
                "title": "UpdateBlogRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/UpdateBlogTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/UpdateBlogTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/UpdateBlogTranslationRequest"
                    }
                },
                "type": "object"
            },
            "UpdateBlogTranslationRequest": {
                "title": "UpdateBlogTranslationRequest",
                "properties": {
                    "title": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/title"
                    },
                    "content": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/content"
                    }
                },
                "type": "object"
            },
            "UpdateEquipmentRequest": {
                "title": "UpdateEquipmentRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/UpdateEquipmentTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/UpdateEquipmentTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/UpdateEquipmentTranslationRequest"
                    }
                },
                "type": "object"
            },
            "UpdateEquipmentTranslationRequest": {
                "title": "UpdateEquipmentTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/title"
                    }
                },
                "type": "object"
            },
            "UpdateGalleryRequest": {
                "title": "UpdateGalleryRequest",
                "properties": {
                    "image": {
                        "$ref": "#/components/schemas/Gallery/properties/image"
                    }
                },
                "type": "object"
            },
            "UpdateServiceRequest": {
                "title": "UpdateServiceRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/UpdateServiceTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/UpdateServiceTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/UpdateServiceTranslationRequest"
                    }
                },
                "type": "object"
            },
            "UpdateServiceTranslationRequest": {
                "title": "UpdateServiceTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/title"
                    }
                },
                "type": "object"
            },
            "UpdateSubserviceRequest": {
                "title": "UpdateSubserviceRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/UpdateSubserviceTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/UpdateSubserviceTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/UpdateSubserviceTranslationRequest"
                    }
                },
                "type": "object"
            },
            "UpdateSubserviceTranslationRequest": {
                "title": "UpdateSubserviceTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/name"
                    },
                    "content": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/content"
                    }
                },
                "type": "object"
            },
            "BlogCollection": {
                "title": "BlogCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BlogResource"
                        }
                    }
                },
                "type": "object"
            },
            "BlogResource": {
                "title": "BlogResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Blog/properties/id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Blog/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Blog/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Blog/properties/updated_at"
                    },
                    "translations": {
                        "title": "Translations",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BlogTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "BlogTranslationCollection": {
                "title": "BlogTranslationCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BlogTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "BlogTranslationResource": {
                "title": "BlogTranslationResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/id"
                    },
                    "blogId": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/blog_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/locale"
                    },
                    "title": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/title"
                    },
                    "content": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/content"
                    }
                },
                "type": "object"
            },
            "EquipmentCollection": {
                "title": "EquipmentCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentResource"
                        }
                    }
                },
                "type": "object"
            },
            "EquipmentResource": {
                "title": "EquipmentResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Equipment/properties/id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Equipment/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Equipment/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Equipment/properties/updated_at"
                    },
                    "translations": {
                        "title": "Translations",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "EquipmentTranslationCollection": {
                "title": "EquipmentTranslationCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "EquipmentTranslationResource": {
                "title": "EquipmentTranslationResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/id"
                    },
                    "equipmentId": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/equipment_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/locale"
                    },
                    "name": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/title"
                    }
                },
                "type": "object"
            },
            "GalleryCollection": {
                "title": "GalleryCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GalleryResource"
                        }
                    }
                },
                "type": "object"
            },
            "GalleryResource": {
                "title": "GalleryResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Gallery/properties/id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Gallery/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Gallery/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Gallery/properties/updated_at"
                    }
                },
                "type": "object"
            },
            "ServiceCollection": {
                "title": "ServiceCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ServiceResource"
                        }
                    }
                },
                "type": "object"
            },
            "ServiceResource": {
                "title": "ServiceResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Service/properties/id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Service/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Service/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Service/properties/updated_at"
                    },
                    "translations": {
                        "title": "Translations",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ServiceTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "ServiceTranslationCollection": {
                "title": "ServiceTranslationCollection",
                "properties": {
                    "data": {
                        "title": "data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ServiceTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "ServiceTranslationResource": {
                "title": "ServiceTranslationResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/id"
                    },
                    "serviceId": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/service_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/locale"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/title"
                    }
                },
                "type": "object"
            },
            "SubserviceCollection": {
                "title": "SubserviceCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubserviceResource"
                        }
                    }
                },
                "type": "object"
            },
            "SubserviceResource": {
                "title": "SubserviceResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Subservice/properties/id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Subservice/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Subservice/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Subservice/properties/updated_at"
                    },
                    "translations": {
                        "title": "Translations",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubserviceTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "SubserviceTranslationCollection": {
                "title": "SubserviceTranslationCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubserviceTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "SubserviceTranslationResource": {
                "title": "SubserviceTranslationResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/id"
                    },
                    "subserviceId": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/subservice_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/locale"
                    },
                    "name": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/name"
                    },
                    "content": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/content"
                    }
                },
                "type": "object"
            },
            "UserCollection": {
                "title": "UserCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/UserResource"
                        }
                    }
                },
                "type": "object"
            },
            "UserResource": {
                "title": "UserResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/User/properties/id"
                    },
                    "name": {
                        "$ref": "#/components/schemas/User/properties/name"
                    },
                    "email": {
                        "$ref": "#/components/schemas/User/properties/email"
                    },
                    "password": {
                        "$ref": "#/components/schemas/User/properties/password"
                    },
                    "emailVerifiedAt": {
                        "$ref": "#/components/schemas/User/properties/email_verified_at"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/User/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/User/properties/updated_at"
                    }
                },
                "type": "object"
            },
            "BaseProperties": {
                "title": "BaseProperties",
                "properties": {
                    "property_id": {
                        "title": "ID",
                        "type": "integer",
                        "minimum": 1,
                        "exclusiveMinimum": false,
                        "example": 1
                    },
                    "property_time": {
                        "title": "Date Time",
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-01-01T09:30:59Z",
                        "nullable": true
                    },
                    "property_locale": {
                        "title": "Locale",
                        "type": "string",
                        "maxLength": 2,
                        "minLength": 2,
                        "example": "en"
                    },
                    "property_image": {
                        "title": "Image Url",
                        "type": "string",
                        "example": "https://example.com/uploads/image1.jpg"
                    },
                    "property_uploads": {
                        "title": "Upload",
                        "type": "string",
                        "format": "binary",
                        "nullable": true
                    },
                    "property_boolean_result": {
                        "title": "Result Boolean",
                        "type": "boolean",
                        "example": "true"
                    },
                    "property_message": {
                        "title": "Message",
                        "type": "string",
                        "example": "Message"
                    }
                },
                "type": "object"
            },
            "Blog": {
                "title": "Blog",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "BlogTranslation": {
                "title": "BlogTranslation",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "blog_id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_locale"
                    },
                    "title": {
                        "title": "Title",
                        "type": "string"
                    },
                    "content": {
                        "title": "Content",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "BlogTranslation"
                }
            },
            "Equipment": {
                "title": "Equipment",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "EquipmentTranslation": {
                "title": "EquipmentTranslation",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "equipment_id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_locale"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "title": {
                        "title": "Title",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Gallery": {
                "title": "Gallery",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "Service": {
                "title": "Service",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "ServiceTranslation": {
                "title": "ServiceTranslation",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "service_id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_locale"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "title": {
                        "title": "Title",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Subservice": {
                "title": "Subservice",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "service_id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "SubserviceTranslation": {
                "title": "SubserviceTranslation",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "subservice_id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_locale"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "content": {
                        "title": "Content",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "Users",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "email": {
                        "title": "Email",
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "title": "Password",
                        "type": "string",
                        "format": "password"
                    },
                    "email_verified_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "400": {
                "description": "Bad Request",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Bad Request"
                        }
                    }
                }
            },
            "401": {
                "description": "Unauthenticated",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Unauthenticated"
                        }
                    }
                }
            },
            "403": {
                "description": "Forbidden",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Forbidden"
                        }
                    }
                }
            },
            "422": {
                "description": "Unprocessable Content",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                },
                                "errors": {
                                    "title": "Errors",
                                    "properties": {
                                        "values": {
                                            "title": "Values",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Unprocessable Content. (and 1 more error)",
                            "errors": {
                                "values": [
                                    "Unprocessable Content Message Error 1",
                                    "Unprocessable Content Message Error 2"
                                ]
                            }
                        }
                    }
                }
            },
            "500": {
                "description": "Internal Server Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Internal Server Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Blogs",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Equipments",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Galleries",
            "description": "API Endpoints of Gallery"
        },
        {
            "name": "Services",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Subservices",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Users",
            "description": "API Endpoints of Projects"
        }
    ]
}