{
    "openapi": "3.0.0",
    "info": {
        "title": "Casenova API Documentation",
        "description": "Casenova API Documentation",
        "contact": {
            "email": "admin@casenova.uz"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://casenova.lc/api/v1",
            "description": "Api Server"
        }
    ],
    "paths": {
        "/create": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Create new User",
                "description": "Returns User data",
                "operationId": "createUser",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User authorization",
                "description": "Return User token",
                "operationId": "authUser",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/blog": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Get list of blogs",
                "description": "Returns list of blogs",
                "operationId": "getBlogs",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Create new blog",
                "description": "Returns blog data",
                "operationId": "storeBlog",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreBlogRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/blog/{id}": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Get blog information",
                "description": "Returns blog data",
                "operationId": "getBlogById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BlogResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/equipment": {
            "get": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Get list of equipments",
                "description": "Returns list of equipments",
                "operationId": "getEquipments",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Create new equipment",
                "description": "Returns equipment data",
                "operationId": "storeEquipments",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEquipmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/equipment/{id}": {
            "get": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Get equipment information",
                "description": "Returns equipment data",
                "operationId": "getEquipmentById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Equipment id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EquipmentResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/services": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Get list of services",
                "description": "Returns list of services",
                "operationId": "getServices",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServiceCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Services"
                ],
                "summary": "Create new service",
                "description": "Returns service data",
                "operationId": "storeServices",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreServiceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/services/{id}": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Get service information",
                "description": "Returns service data",
                "operationId": "getServiceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ServiceResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/subservices": {
            "get": {
                "tags": [
                    "Subservices"
                ],
                "summary": "Get list of subservices",
                "description": "Returns list of subservices",
                "operationId": "getSubservices",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubserviceCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": [
                    "Subservices"
                ],
                "summary": "Create new subservice",
                "description": "Returns service data",
                "operationId": "storeSubservices",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreSubserviceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/subservices/{id}": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Get subservice information",
                "description": "Returns subservice data",
                "operationId": "getSubserviceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Subservice id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SubserviceResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "StoreBlogRequest": {
                "title": "StoreBlogRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/StoreBlogTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/StoreBlogTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/StoreBlogTranslationRequest"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StoreBlogRequest"
                }
            },
            "StoreBlogTranslationRequest": {
                "title": "StoreBlogTranslationRequest",
                "properties": {
                    "title": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/title"
                    },
                    "content": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/content"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StoreBlogTranslationRequest"
                }
            },
            "StoreEquipmentRequest": {
                "title": "StoreEquipmentRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/StoreEquipmentTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/StoreEquipmentTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/StoreEquipmentTranslationRequest"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StoreEquipmentRequest"
                }
            },
            "StoreEquipmentTranslationRequest": {
                "title": "StoreEquipmentTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/title"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StoreEquipmentTranslationRequest"
                }
            },
            "StoreServiceRequest": {
                "title": "StoreServiceRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/StoreServiceTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/StoreServiceTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/StoreServiceTranslationRequest"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StoreServiceRequest"
                }
            },
            "StoreServiceTranslationRequest": {
                "title": "StoreServiceTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/title"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StoreServiceTranslationRequest"
                }
            },
            "StoreSubserviceRequest": {
                "title": "StoreSubserviceRequest",
                "properties": {
                    "ru": {
                        "$ref": "#/components/schemas/StoreSubserviceTranslationRequest"
                    },
                    "uz": {
                        "$ref": "#/components/schemas/StoreSubserviceTranslationRequest"
                    },
                    "en": {
                        "$ref": "#/components/schemas/StoreSubserviceTranslationRequest"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StoreSubserviceRequest"
                }
            },
            "StoreSubserviceTranslationRequest": {
                "title": "StoreSubserviceTranslationRequest",
                "properties": {
                    "name": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/name"
                    },
                    "content": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/content"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StoreSubserviceTranslationRequest"
                }
            },
            "BlogCollection": {
                "title": "BlogCollection",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BlogResource"
                        }
                    }
                },
                "type": "object"
            },
            "BlogResource": {
                "title": "BlogResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Blog/properties/id"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Blog/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Blog/properties/updated_at"
                    },
                    "translations": {
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/BlogTranslationResource"
                                }
                            ]
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "BlogResource"
                }
            },
            "BlogTranslationCollection": {
                "title": "BlogTranslationCollection",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BlogTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "BlogTranslationResource": {
                "title": "BlogTranslationResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/id"
                    },
                    "blogId": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/blog_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/locale"
                    },
                    "title": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/title"
                    },
                    "content": {
                        "$ref": "#/components/schemas/BlogTranslation/properties/content"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "BlogTranslationResource"
                }
            },
            "EquipmentCollection": {
                "title": "EquipmentCollection",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentResource"
                        }
                    }
                },
                "type": "object"
            },
            "EquipmentResource": {
                "title": "EquipmentResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Equipment/properties/id"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Equipment/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Equipment/properties/updated_at"
                    },
                    "translations": {
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/EquipmentTranslationResource"
                                }
                            ]
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "EquipmentResource"
                }
            },
            "EquipmentTranslationCollection": {
                "title": "EquipmentTranslationCollection",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "EquipmentTranslationResource": {
                "title": "EquipmentTranslationResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/id"
                    },
                    "equipmentId": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/equipment_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/locale"
                    },
                    "name": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/EquipmentTranslation/properties/title"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "EquipmentTranslationResource"
                }
            },
            "ServiceCollection": {
                "title": "ServiceCollection",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ServiceResource"
                        }
                    }
                },
                "type": "object"
            },
            "ServiceResource": {
                "title": "ServiceResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Service/properties/id"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Service/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Service/properties/updated_at"
                    },
                    "translations": {
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/ServiceTranslationResource"
                                }
                            ]
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "ServiceResource"
                }
            },
            "ServiceTranslationCollection": {
                "title": "ServiceTranslationCollection",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ServiceTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "ServiceTranslationResource": {
                "title": "ServiceTranslationResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/id"
                    },
                    "serviceId": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/service_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/locale"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/ServiceTranslation/properties/title"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "ServiceTranslationResource"
                }
            },
            "SubserviceCollection": {
                "title": "SubserviceCollection",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubserviceResource"
                        }
                    }
                },
                "type": "object"
            },
            "SubserviceResource": {
                "title": "SubserviceResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Subservice/properties/id"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Subservice/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Subservice/properties/updated_at"
                    },
                    "translations": {
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/SubserviceTranslationResource"
                                }
                            ]
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "SubserviceResource"
                }
            },
            "SubserviceTranslationCollection": {
                "title": "SubserviceTranslationCollection",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubserviceTranslationResource"
                        }
                    }
                },
                "type": "object"
            },
            "SubserviceTranslationResource": {
                "title": "SubserviceTranslationResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/id"
                    },
                    "subserviceId": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/subservice_id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/locale"
                    },
                    "name": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/name"
                    },
                    "content": {
                        "$ref": "#/components/schemas/SubserviceTranslation/properties/content"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "SubserviceTranslationResource"
                }
            },
            "BaseModel": {
                "title": "BaseModel",
                "properties": {
                    "id": {
                        "title": "id",
                        "type": "integer",
                        "format": "integer",
                        "readOnly": "true",
                        "example": 1,
                        "nullable": true
                    },
                    "created_at": {
                        "title": "created_at",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": "true",
                        "example": "2023-01-01T09:30:59.000000Z",
                        "nullable": true
                    },
                    "updated_at": {
                        "title": "updated_at",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": "true",
                        "example": "2023-01-01T09:30:59.000000Z",
                        "nullable": true
                    },
                    "locale": {
                        "title": "locale",
                        "type": "string",
                        "format": "string",
                        "readOnly": "true",
                        "example": "en"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "BaseModel"
                }
            },
            "Blog": {
                "title": "Blog",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseModel/properties/created_at"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseModel/properties/updated_at"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Blog"
                }
            },
            "BlogTranslation": {
                "title": "BlogTranslation",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "blog_id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BaseModel/properties/locale"
                    },
                    "title": {
                        "title": "title",
                        "type": "string",
                        "format": "string"
                    },
                    "content": {
                        "title": "content",
                        "type": "string",
                        "format": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "BlogTranslation"
                }
            },
            "Equipment": {
                "title": "Equipment",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseModel/properties/created_at"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseModel/properties/updated_at"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Equipment"
                }
            },
            "EquipmentTranslation": {
                "title": "EquipmentTranslation",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "equipment_id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BaseModel/properties/locale"
                    },
                    "name": {
                        "title": "name",
                        "type": "string",
                        "format": "string"
                    },
                    "title": {
                        "title": "title",
                        "type": "string",
                        "format": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "EquipmentTranslation"
                }
            },
            "Service": {
                "title": "Service",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseModel/properties/created_at"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseModel/properties/updated_at"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Service"
                }
            },
            "ServiceTranslation": {
                "title": "ServiceTranslation",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "service_id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BaseModel/properties/locale"
                    },
                    "name": {
                        "title": "name",
                        "type": "string",
                        "format": "string"
                    },
                    "title": {
                        "title": "title",
                        "type": "string",
                        "format": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "ServiceTranslation"
                }
            },
            "Subservice": {
                "title": "Subservice",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "service_id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseModel/properties/created_at"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseModel/properties/updated_at"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Subservice"
                }
            },
            "SubserviceTranslation": {
                "title": "SubserviceTranslation",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "subservice_id": {
                        "$ref": "#/components/schemas/BaseModel/properties/id"
                    },
                    "locale": {
                        "$ref": "#/components/schemas/BaseModel/properties/locale"
                    },
                    "name": {
                        "title": "name",
                        "type": "string",
                        "format": "string"
                    },
                    "content": {
                        "title": "content",
                        "type": "string",
                        "format": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "SubserviceTranslation"
                }
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Blogs",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Equipments",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Services",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Subservices",
            "description": "API Endpoints of Projects"
        }
    ]
}