{
    "openapi": "3.0.0",
    "info": {
        "title": "Casenova API Documentation",
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://casenova.lc/api/v1",
            "description": "Api Server"
        }
    ],
    "paths": {
        "/blog": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Get list of blogs",
                "description": "Returns list of blogs",
                "operationId": "getBlogs",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlogCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/blog/{id}": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Get blog information",
                "description": "Returns blog data",
                "operationId": "getBlogById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BlogResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/equipment": {
            "get": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Get list of equipments",
                "description": "Returns list of equipments",
                "operationId": "getEquipments",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/equipment/{id}": {
            "get": {
                "tags": [
                    "Equipments"
                ],
                "summary": "Get equipment information",
                "description": "Returns equipment data",
                "operationId": "getEquipmentById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Equipment id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EquipmentResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/galleries": {
            "get": {
                "tags": [
                    "Galleries"
                ],
                "summary": "Get list of galleries",
                "description": "Returns list of galleries",
                "operationId": "getGalleries",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GalleryCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/galleries/{id}": {
            "get": {
                "tags": [
                    "Galleries"
                ],
                "summary": "Get gallery information",
                "description": "Returns gallery data",
                "operationId": "getGalleryById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Gallery id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/GalleryResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/services": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Get list of services",
                "description": "Returns list of services",
                "operationId": "getServices",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServiceCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/services/{id}": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Get service information",
                "description": "Returns service data",
                "operationId": "getServiceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ServiceResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/subservices": {
            "get": {
                "tags": [
                    "Subservices"
                ],
                "summary": "Get list of subservices",
                "description": "Returns list of subservices",
                "operationId": "getSubservices",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubserviceCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/subservices/{id}": {
            "get": {
                "tags": [
                    "Subservices"
                ],
                "summary": "Get subservice information",
                "description": "Returns subservice data",
                "operationId": "getSubserviceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Subservice id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SubserviceResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "BlogCollection": {
                "title": "BlogCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BlogResource"
                        }
                    }
                },
                "type": "object"
            },
            "BlogResource": {
                "title": "BlogResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Blog/properties/id"
                    },
                    "title": {
                        "$ref": "#/components/schemas/Blog/properties/title"
                    },
                    "content": {
                        "$ref": "#/components/schemas/Blog/properties/content"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Blog/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Blog/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Blog/properties/updated_at"
                    }
                },
                "type": "object"
            },
            "EquipmentCollection": {
                "title": "EquipmentCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EquipmentResource"
                        }
                    }
                },
                "type": "object"
            },
            "EquipmentResource": {
                "title": "EquipmentResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Equipment/properties/id"
                    },
                    "name": {
                        "$ref": "#/components/schemas/Equipment/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/Equipment/properties/title"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Equipment/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Equipment/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Equipment/properties/updated_at"
                    }
                },
                "type": "object"
            },
            "GalleryCollection": {
                "title": "GalleryCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GalleryResource"
                        }
                    }
                },
                "type": "object"
            },
            "GalleryResource": {
                "title": "GalleryResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Gallery/properties/id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Gallery/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Gallery/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Gallery/properties/updated_at"
                    }
                },
                "type": "object"
            },
            "ServiceCollection": {
                "title": "ServiceCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ServiceResource"
                        }
                    }
                },
                "type": "object"
            },
            "ServiceResource": {
                "title": "ServiceResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Service/properties/id"
                    },
                    "name": {
                        "$ref": "#/components/schemas/Service/properties/name"
                    },
                    "title": {
                        "$ref": "#/components/schemas/Service/properties/title"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Service/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Service/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Service/properties/updated_at"
                    }
                },
                "type": "object"
            },
            "SubserviceCollection": {
                "title": "SubserviceCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SubserviceResource"
                        }
                    }
                },
                "type": "object"
            },
            "SubserviceResource": {
                "title": "SubserviceResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Subservice/properties/id"
                    },
                    "name": {
                        "$ref": "#/components/schemas/Subservice/properties/name"
                    },
                    "content": {
                        "$ref": "#/components/schemas/Subservice/properties/content"
                    },
                    "image": {
                        "$ref": "#/components/schemas/Subservice/properties/image"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/Subservice/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/Subservice/properties/updated_at"
                    }
                },
                "type": "object"
            },
            "UserCollection": {
                "title": "UserCollection",
                "properties": {
                    "data": {
                        "title": "Data",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/UserResource"
                        }
                    }
                },
                "type": "object"
            },
            "UserResource": {
                "title": "UserResource",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/User/properties/id"
                    },
                    "name": {
                        "$ref": "#/components/schemas/User/properties/name"
                    },
                    "email": {
                        "$ref": "#/components/schemas/User/properties/email"
                    },
                    "password": {
                        "$ref": "#/components/schemas/User/properties/password"
                    },
                    "emailVerifiedAt": {
                        "$ref": "#/components/schemas/User/properties/email_verified_at"
                    },
                    "createdAt": {
                        "$ref": "#/components/schemas/User/properties/created_at"
                    },
                    "updatedAt": {
                        "$ref": "#/components/schemas/User/properties/updated_at"
                    }
                },
                "type": "object"
            },
            "BaseProperties": {
                "title": "BaseProperties",
                "properties": {
                    "property_id": {
                        "title": "ID",
                        "type": "integer",
                        "minimum": 1,
                        "exclusiveMinimum": false,
                        "example": 1
                    },
                    "property_time": {
                        "title": "Date Time",
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-01-01T09:30:59Z",
                        "nullable": true
                    },
                    "property_locale": {
                        "title": "Locale",
                        "type": "string",
                        "maxLength": 2,
                        "minLength": 2,
                        "example": "en"
                    },
                    "property_image": {
                        "title": "Image Url",
                        "type": "string",
                        "example": "https://example.com/uploads/image1.jpg"
                    },
                    "property_uploads": {
                        "title": "Upload",
                        "type": "string",
                        "format": "binary",
                        "nullable": true
                    },
                    "property_boolean_result": {
                        "title": "Result Boolean",
                        "type": "boolean",
                        "example": "true"
                    },
                    "property_message": {
                        "title": "Message",
                        "type": "string",
                        "example": "Message"
                    }
                },
                "type": "object"
            },
            "Blog": {
                "title": "Blog",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "title": {
                        "title": "Title",
                        "type": "string"
                    },
                    "content": {
                        "title": "Content",
                        "type": "string"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "Equipment": {
                "title": "Equipment",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "title": {
                        "title": "Title",
                        "type": "string"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "Gallery": {
                "title": "Gallery",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "Service": {
                "title": "Service",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "title": {
                        "title": "Title",
                        "type": "string"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "Subservice": {
                "title": "Subservice",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "service_id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "content": {
                        "title": "Content",
                        "type": "string"
                    },
                    "image": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_image"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "Users",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_id"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "email": {
                        "title": "Email",
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "title": "Password",
                        "type": "string",
                        "format": "password"
                    },
                    "email_verified_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    },
                    "updated_at": {
                        "$ref": "#/components/schemas/BaseProperties/properties/property_time"
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "400": {
                "description": "Bad Request",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Bad Request"
                        }
                    }
                }
            },
            "401": {
                "description": "Unauthenticated",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Unauthenticated"
                        }
                    }
                }
            },
            "403": {
                "description": "Forbidden",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Forbidden"
                        }
                    }
                }
            },
            "422": {
                "description": "Unprocessable Content",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                },
                                "errors": {
                                    "title": "Errors",
                                    "properties": {
                                        "values": {
                                            "title": "Values",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Unprocessable Content. (and 1 more error)",
                            "errors": {
                                "values": [
                                    "Unprocessable Content Message Error 1",
                                    "Unprocessable Content Message Error 2"
                                ]
                            }
                        }
                    }
                }
            },
            "500": {
                "description": "Internal Server Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "title": "Response",
                            "properties": {
                                "message": {
                                    "$ref": "#/components/schemas/BaseProperties/properties/property_message"
                                }
                            },
                            "type": "object"
                        },
                        "example": {
                            "message": "Internal Server Error"
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Blogs",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Equipments",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Galleries",
            "description": "API Endpoints of Gallery"
        },
        {
            "name": "Services",
            "description": "API Endpoints of Projects"
        },
        {
            "name": "Subservices",
            "description": "API Endpoints of Projects"
        }
    ]
}